<div class="container">

    <h2>Pagamentos</h2>

    <label class="form-label">Mês</label>
    <input type="text" class="form-control" [(ngModel)]="mes">
    <label class="form-label">Ano</label>
    <input type="text" class="form-control" [(ngModel)]="ano">
    <label class="form-label">Filtro</label>
    <select (change)="filtrarPagamentos()" class="form-select" aria-label="Default select example" [(ngModel)]="creciSelecionado">
        <option selected>Todos</option>
        <option *ngFor="let c of corretores" >{{c.creci}}</option>
        
</select>
    <button (click)="filtrarPagamentos()" class="btn btn-primary" >Consultar</button>


    <div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Corretor</th>
                    <th scope="col">Valor total de Vendas</th>
                    <th scope="col">% Comissão</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Pagamento Total</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of auxiliar" scope="row">
                    <td>{{ a.creci }}</td>
                    <td>{{ a.venda}}</td>
                    <td>{{a.comissao}}</td>
                    <td>{{a.salario}}</td>
                    <td> {{ (a.salario + ((a.comissao * a.venda)/100)) }} </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>